Source: xenta-backgrounds-brawijaya
Section: admin
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaos/xenta-backgrounds-brawijaya
Vcs-Browser: https://github.com/xentaos/xenta-backgrounds-brawijaya.git

Package: xenta-backgrounds-brawijaya
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Paket Wallpaper Desktop Xenta OS 3.3 Brawijaya.
Wallpaper Desktop Bawaan untuk Xenta OS 1.3 Brawijaya Semua Edisi.
